h1 autopager

.autopager
  div(data-modules="autoPagerContents") 1
  div(data-modules="autoPagerContents") 2
  div(data-modules="autoPagerContents") 3
  div(data-modules="autoPagerContents") 4
  div(data-modules="autoPagerContents") 5

  div(data-modules="autoPagerPrev") prev
  div(data-modules="autoPagerNext") next
