doctype html
html(lang='ja')
  head
    meta(charset="utf-8")
    link(type="text/css" rel="stylesheet", href="index.css")
      
  body
    //- include accordion.pug
    //- include autopager.pug
    //- include vending.pug
    include tab.pug


  script.
    (src='/bundle.js')
