doctype html
html(lang='ja')
  head
    meta(charset="utf-8")
  body
    h1 tsでautopager

    div(data-modules="autoPagerContents")
    div(data-modules="autoPagerContents")
    div(data-modules="autoPagerContents")
    div(data-modules="autoPagerContents")
    div(data-modules="autoPagerContents")

    div(data-modules="autoPagerPrev")
    div(data-modules="autoPagerNext")

  script.
    (src='/bundle.js')
