h1 tab

.Tab.js-tab
  .Tab__head.js-tabHead
    .Tab__headItem.js-tabHeadItem.Tab__headItem--active A
    .Tab__headItem.js-tabHeadItem B
  .Tab__contents.js-tabContents
    .Tab__contentsItem.js-tabContentsItem.Tab__contentsItem--active A_Content
    .Tab__contentsItem.js-tabContentsItem B_Content
  .Tab__head.js-tabHead
    .Tab__headItem.js-tabHeadItem2.Tab__headItem--active A
    .Tab__headItem.js-tabHeadItem2 B
