doctype html
html(lang='ja')
  head
    meta(charset="utf-8")
  body
    h1 自販機

  button.input(data-value = "10") 10円
  button.input(data-value = "50") 50円
  button.input(data-value = "100") 100円
  button.input(data-value = "500") 500円
  button.input(data-value = "1000") 1000円

  .text

  script.
    (src='/bundle.js')
